* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(63, 252, 50, 0.211), rgba(86, 24, 122, 0.419));
}

header,
footer,
main,
nav {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  color: rgb(1, 0, 0);
}

/* Header designs */
h1{
  font-size: 5vw;
}
a {
  text-decoration: none;
}

header {
  text-align: center;
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/images/hero-img.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
li {
  list-style: none;
}
li:hover{
  opacity: 3;
  transform: scale(1.25);
}
.ul-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
}
.ul-nav li a {
  text-align: center;
  color: white;
}
a:hover{
  color: white;
}
/* Search button design */
.div1{
  justify-items: center;
}
.search {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  outline: 0;
  padding: 10px 25px;
  border-radius: 20px;
  flex: 1.0;
}

.search button img {
  width: 20px;
}
.error{
    margin: 3px;
    padding: 3px;
}
/* Css for div2 */
.div2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
section {
    margin: 0.1rem;
    padding: 0.1rem;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

section img {
    width: auto;
    max-width: 100%;
    height: auto;
    box-shadow: 4px 4px 20px #242323;
}
section h2{
  color: white;
}
section:hover{
    border-radius: 4px;
    opacity: 3;
    transform: scale(1.012);
}
section img:hover{
    border-radius: 4px;
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 30px #242323;
    cursor: pointer;
}
/* Css for pop up */
.popup{
  width: 400px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.popup img{
  width: 80px;
  margin-top: -12%;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: rgba(70, 224, 70, 0.459);
  outline: none;
}
/* using javascript to manipulate the pop */
.open-popup{
  top: 50%;
  transform: translate(-50%, -50%) scale(1.05);
  visibility: visible;
}
.close-popup{
  top: 0;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, bottom 0.4s;
}

/* footer css */
footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/images/footer-hero.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
.footer{
  display: flex;
  justify-content: flex-end;
}
